# Application Configuration
ENCRYPTION_KEY=

# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Google OAuth 2.0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

